.hidden{
    display: none;
}

#background{
    position:absolute;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:100%;
    }

#logo{
    width: 22%;
    display: block;
    margin: 0px auto;
}

.logIn-form{
    text-align: center;
    margin-top: 20px;
}

#input{
    width: 125px;
    height: 20px;
}

#login{
    height: 28px;
}

.quest{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

li{
    text-align: center;
}

#quote{
    text-align: center;
    width: 100%;
    position: absolute;  
    bottom: 0;
    left: 0;
}

#clock{
    font-size: 30px;
    text-align:end;
    width: 100%;
    position: absolute;  
    bottom: 0;
    left: 0;
}

body{
    cursor: url('img/Cursor.0.0.png'), auto;
}

.taxi_div{
    width: 200px;
    height: 250px;
    background-repeat: no-repeat;
    position: relative;
    background-size : contain;
    background-position: center;
    margin: auto;
}

.townIcon{
    position: relative;
    left: 19px;
    top: 100px;
}

/* #헤네시스 {
    position: absolute;
    bottom: 1px;
    z-index: 1;
}

#taxiText{
    position: relative;
    z-index: 0;
} */